///COLORS


$primary-color: #333;
$secondary-color: #ccc;

$primary-light-color: #fff;
$secondary-light-color: #f9f9f9;

$primary-border-color: #f1f1f1;

$color-black: #000;
$color-white: #fff;
$color-red: rgba(255, 0, 0, 0.562);

$color-grey-light: #eee;
$color-grey-dark: #777;


// FONTS

$ff-primary: 'Roboto', sans-serif;
$ff-secondary: 'Poppins', 'sans-serif';

//GRID

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;


