.skills {

    &__content {
        display: flex;
        align-items: center;
        border-bottom: 1px solid $primary-border-color;
        padding-bottom: 1rem;
        transition: all .3s;

        &:not(:last-child) {
            margin-bottom: 2rem;
        }

        &--icon {
            width: 3rem;
            margin-right: 2rem;
            color: $secondary-color;
            font-size: 3rem;
        }

        &--text {
            border-bottom: 1px solid $color-black;
            animation: moveInLeft 1s ease-out;
        }
    }
}